ion-searchbar {
    margin-bottom: 15px;
  }
  
  .description {
    white-space: normal;
    font-size: 14px;
    color: #777;
  }
  
  ion-item {
    --inner-padding-start: 10px;
    --inner-padding-end: 10px;
  }
  
  ion-item-sliding {
    margin-bottom: 10px;
  }
  
  ion-fab-button {
    --background: #3880ff;
  }
  