<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Visas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="ion-text-center">Listado de visas</h2>

  <ion-searchbar placeholder="Buscar visa" animated></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let visa of arregloVisas">
      <ion-item lines="full">
        <ion-label>
          <h2>{{ visa.pais }}</h2>
          <p class="description">{{ visa.det }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="modificar(visa)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminar(visa)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
