ion-content {
    --padding-bottom: 60px;
  }
  
  ion-input,
  ion-textarea {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    font-size: 14px;
  }
  
  ion-button {
    margin-top: 10px;
  }
  