<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Visa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="ion-text-center">Nueva Visa</h2>

  <ion-list>
    <ion-item>
      <ion-label position="floating">País para Visa</ion-label>
      <ion-input type="text" [(ngModel)]="pais"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad mínima</ion-label>
      <ion-input type="number"  [(ngModel)]="edadMin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad máxima</ion-label>
      <ion-input type="number" [(ngModel)]="edadMax"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-input type="text" [(ngModel)]="estado"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Detalles</ion-label>
      <ion-textarea [(ngModel)]="detalles"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="enviarDatos()">Guardar Cambio</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="medium" [routerLink]="['/listar']">Ir a listar visas</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
