.image-container {
    border: 10px solid #8B4513; 
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  ion-img {
    width: 100%;
    height: auto;
  }
  